In [1]:
# Import necessary libraries, etc.
import pandas as pd
from configparser import ConfigParser
%load_ext sql

In [2]:
# Obtaining connection string to connect with PostgreSQL database
# Format:  "postgresql://username:{password}@localhost:5432/northwind"
parser = ConfigParser()
_ = parser.read('nb.cfg')
conn_string = parser.get('my_db', 'conn_string')

In [3]:
# SQL statement for creating connection
sql = f"""
{conn_string}
"""
# Connecting
%sql {sql}

In [4]:
%sql SELECT * FROM customers LIMIT 5;

 * postgresql://postgres:***@localhost:5432/northwind
5 rows affected.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]